-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: mjsir_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `manuscripts`
--

DROP TABLE IF EXISTS `manuscripts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `manuscripts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `code` varchar(50) NOT NULL,
  `type` varchar(50) DEFAULT NULL,
  `contributor_type` varchar(100) DEFAULT NULL,
  `submission_form` varchar(255) DEFAULT NULL,
  `year` varchar(4) DEFAULT NULL,
  `date` date DEFAULT NULL,
  `title` text DEFAULT NULL,
  `inst` varchar(255) DEFAULT NULL,
  `authors` text DEFAULT NULL,
  `author_email` varchar(255) DEFAULT NULL,
  `file_path` varchar(255) DEFAULT NULL,
  `repo` varchar(50) DEFAULT NULL,
  `editor` varchar(100) DEFAULT NULL,
  `preAction` varchar(100) DEFAULT NULL,
  `turnitin` varchar(50) DEFAULT NULL,
  `prenotes` text DEFAULT NULL,
  `srev` varchar(255) DEFAULT NULL,
  `revStatus` varchar(100) DEFAULT NULL,
  `summary` text DEFAULT NULL,
  `rev1` varchar(255) DEFAULT NULL,
  `rev2` varchar(255) DEFAULT NULL,
  `rev3` varchar(255) DEFAULT NULL,
  `eic` varchar(255) DEFAULT NULL,
  `dret` date DEFAULT NULL,
  `drev` date DEFAULT NULL,
  `dacc` date DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `link` varchar(255) DEFAULT NULL,
  `aiWriting` varchar(50) DEFAULT NULL,
  `srev1_affil` varchar(255) DEFAULT NULL,
  `srev1_email` varchar(100) DEFAULT NULL,
  `srev2_name` varchar(255) DEFAULT NULL,
  `srev2_affil` varchar(255) DEFAULT NULL,
  `srev2_email` varchar(100) DEFAULT NULL,
  `srev3_name` varchar(255) DEFAULT NULL,
  `srev3_affil` varchar(255) DEFAULT NULL,
  `srev3_email` varchar(100) DEFAULT NULL,
  `criteria_scope` tinyint(1) DEFAULT 0,
  `criteria_methodology` tinyint(1) DEFAULT 0,
  `criteria_format` tinyint(1) DEFAULT 0,
  `manuscript_type` varchar(100) DEFAULT NULL,
  `turnitin_file` varchar(255) DEFAULT NULL,
  `editor_comments` text DEFAULT NULL,
  `editor_remarks` varchar(255) DEFAULT NULL,
  `prescreen_status` varchar(50) DEFAULT NULL,
  `action_taken` varchar(255) DEFAULT NULL,
  `suggested_reviewers` text DEFAULT NULL,
  `final_decision` varchar(255) DEFAULT NULL,
  `date_accepted` varchar(50) DEFAULT NULL,
  `date_revised` varchar(50) DEFAULT NULL,
  `revised_file` varchar(255) DEFAULT NULL,
  `turnitin_link` varchar(255) DEFAULT NULL,
  `review_round` int(11) DEFAULT 1,
  `revised_link` text DEFAULT NULL,
  `revised_file_2` varchar(255) DEFAULT NULL,
  `revised_link_2` text DEFAULT NULL,
  `revised_file_3` varchar(255) DEFAULT NULL,
  `revised_link_3` text DEFAULT NULL,
  `action_taken_file` varchar(255) DEFAULT NULL,
  `action_taken_link` text DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `manuscripts`
--

LOCK TABLES `manuscripts` WRITE;
/*!40000 ALTER TABLE `manuscripts` DISABLE KEYS */;
/*!40000 ALTER TABLE `manuscripts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `version` varchar(255) NOT NULL,
  `class` varchar(255) NOT NULL,
  `group` varchar(255) NOT NULL,
  `namespace` varchar(255) NOT NULL,
  `time` int(11) NOT NULL,
  `batch` int(11) unsigned NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `target_user` varchar(255) NOT NULL,
  `message` text NOT NULL,
  `is_read` tinyint(1) DEFAULT 0,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
INSERT INTO `notifications` VALUES (1,'eic','REPO Staff updated processing for MJSIR2025_81',1,'2026-04-27 13:10:40'),(2,'repo_staff','EIC updated instructions for MJSIR2026-02',1,'2026-04-27 13:19:48'),(3,'jherico echo','EIC updated instructions for MJSIR2026-02',1,'2026-04-27 13:19:49'),(4,'eic','REPO Staff updated processing for MJSIR2025_81',0,'2026-04-28 11:38:04');
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` varchar(50) NOT NULL,
  `failed_attempts` int(11) DEFAULT 0,
  `locked_until` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-29  9:02:45
